/* Menu uniquement */
#menu-container {
  float: left;
  width: 220px;
  padding: 15px;
  background: #f2f2f2;
  box-sizing: border-box;
}

#menu-container h2 {
  font-size: 18px;
  margin-top: 0;
}

#menu-container ul {
  list-style: none;
  padding: 0;
}

#menu-container li {
  margin-bottom: 10px;
}

#menu-container a {
  text-decoration: none;
  color: #333;
}

/* Contenu de la page */
#main-content {
  margin-left: 240px; /* laisse de la place pour le menu */
  padding: 20px 0;
}
/* Lien actif du menu */
#menu-container a.active {
  font-weight: bold;
  color: #007BFF; /* couleur bleue pour le lien actif */
}


 body { font-family: Arial, sans-serif; padding: 2rem; max-width: 800px; margin: auto; }
    h1 { text-align: center; }
    table { width: 100%; border-collapse: collapse; margin-top: 1rem; }
    th, td { border: 1px solid #ccc; padding: 0.5rem; text-align: center; }
    input[type="number"] { width: 60px; }
    .resultats { margin-top: 2rem; font-weight: bold; }
    .controls { margin-top: 1rem; }
 
