/* Menu uniquement */
#menu-container {
  float: left;
  width: 220px;
  padding: 15px;
  background: #eee;
  box-sizing: border-box;
}

#menu-container h2 {
  font-size: 18px;
  margin-top: 0;
}

#menu-container ul {
  list-style: none;
  padding: 0;
}

#menu-container li {
  margin-bottom: 10px;
}

#menu-container a {
  text-decoration: none;
  color: #333;
}

/* Contenu de la page */
#main-content {
  margin-left: 240px; /* laisse de la place pour le menu */
  padding: 40px;
   max-width: 800px;
}
/* Lien actif du menu */
#menu-container a.active {
  font-weight: bold;
  color: #007BFF; /* couleur bleue pour le lien actif */
}
/* css du efs */

 body { font-family: Arial, sans-serif; padding: 0; margin: 0; max-width: 800px; }
    h1 { text-align: center; }
    table { width: 100%; border-collapse: collapse; margin-top: 1rem; }
    th, td { border: 1px solid #ccc; padding: 0.5rem; text-align: center; }
   
    .resultats { margin-top: 2rem; font-weight: bold; }
    .controls { margin-top: 1rem; }
 
/* CSS du EC EG */

/*  pour eviter le double body je cache ca

body {
      font-family: Arial, sans-serif;
      max-width: 1000px;
      margin: 40px auto;
    } */
    h2, h3 {
      margin-top: 25px;
    }
    label {
      display: block;
      margin-top: 10px;
      width: 100px;
    }
   
    .result {
      margin-top: 20px;
      padding: 10px;
      background: #f2f2f2;
      font-weight: bold;
    }
    button {
      margin-top: 15px;
      padding: 8px 12px;
      cursor: pointer;
    }

/* Input standard (pleine largeur) */
.input-grand {
  width: 100%;
  padding: 6px;
  margin-top: 3px;
  box-sizing: border-box;
}

/* Input compact (tableaux, coefficients, etc.) */
.input-petit {
  width: 60px;
  padding: 4px;
  box-sizing: border-box;
}


